.sidr.left
{
	 margin-top:40px;
	 width: 255px;
}
body{
	background: #eee;
}
#maincontent{
	ul{
		margin:0px;
		padding:0px;
	}
	li{
		list-style: none;
		// background : #ddd;
		border-bottom: 1px #333 solid;
		padding: 10px;
		margin:5px  0px;

		>div{
			padding: 0px 5px;
		}
		.articleTitle{
			width:98%;
			height: 20px;
			padding: 10px 0px;
			a{
				color:#333;
				font-weight: bold;
				font-size: 15px;
			}
			a:hover{
				font-size: 16px;
				text-decoration: none;
			}
		}

		.btn-group{
			margin-left: 10px;
		}

		.content{
			display: none;
			background: #ccc;
			padding: 10px;
			font-size:  18px;
			font-weight: 700;

			>img {display:block;}
			}
		}
}